:root {
  --main-color: #fff;
  --accent-color: #dc3545;
  --selection-color: #78020e;
  --bg-color: #232020;
  --bg-color-revert: #191919;
  --bg-color-navbar: #252525;
  --bg-color-black: #000;

  --five-categories-in-row: 20%;
  --four-categories-in-row: 25%;
  --three-categories-in-row: 33.333%;
  --two-categories-in-row: 50%;
  --one-category-in-row: 100%;
  --categories-percents-width: var(--two-categories-in-row);
}

/* sm */
@media (min-width: 576px) {
    :root {
        --categories-percents-width: var(--three-categories-in-row);
    }
}
/* md */
@media (min-width: 768px) {
    :root {
        --categories-percents-width: var(--four-categories-in-row);
    }
}
/* lg */
@media (min-width: 992px) {
    :root {
        --categories-percents-width: var(--five-categories-in-row);
    }
}

::selection {
    background-color: var(--selection-color);
    color: var(--main-color);
}

body {
    position: relative;
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    background-color: var(--bg-color);
    color: var(--main-color);  
}

.login input, 
.signup input {
    font-weight: 600;   
}

*::-webkit-scrollbar {
    width: 12px;
    height: 8px;
  }
  *::-webkit-scrollbar-track {
    background: var(--bg-color-revert);
  }
  *::-webkit-scrollbar-thumb {
    background-color: #c9c9c9;
    border-radius: 5px;
    border: 2px solid #afafaf;
  }

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--main-color);
}

a:hover{
    color: var(--accent-color);
    transition: .1s ease;
}

section {
    padding: 40px 0;
}

section:first-child {
    padding-top: 130px;
}

h1, h2, h3 {
    margin-bottom: 60px;
    text-align: center;
}

#message-toast {
    position: fixed;
    right: 10px;
    bottom: 50px;
    max-width: calc(100vw - 20px);
    z-index: 3;
}
#message-toast .btn-close:active {
    box-shadow: none;
}

.toast-success {
    background-color: #087421;
    color: var(--main-color);
}
.toast-success .btn-close {
    background: transparent url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0iI2ZmZiI+PHBhdGggZD0iTTEuNDA0IDEuNDA0YTEgMSAwIDAxMS40MTQgMEw4IDYuNTg2bDQuNTg2LTQuNTg2YTEgMSAwIDExMS40MTQgMS40MTRMOS40MTQgOGw0LjU4NiA0LjU4NmExIDEgMCAwMS0xLjQxNCAxLjQxNEw4IDkuNDE0bC00LjU4NiA0LjU4NmExIDEgMCAxMS0xLjQxNC0xLjQxNEw2LjU4NiA4IDEuNDA0IDEuNDA0YTEgMSAwIDAxMC0xLjQxNHoiLz48L3N2Zz4=") center / 1em auto no-repeat;
}

.toast-danger {
    background-color: #8b0916;
    color: var(--main-color);
}
.toast-danger .btn-close {
    color: var(--main-color);
}

.toast-warning {
    background-color: #e2ad0e;
    color: var(--bg-color-black);
}
.toast-warning .btn-close {
    color: var(--bg-color-black);
}

.toast-info {
    background-color: #17a2b8;
    color: var(--main-color);
}
.toast-info .btn-close {
    color: var(--main-color);
}

.top-line {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--bg-color-navbar);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
    z-index: 2;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
    background-color: var(--bg-color-navbar);
}

.brand {
    margin-bottom: -20px;
    letter-spacing: 0;
}

.navbar-nav {
    margin-left: auto;
    align-items: center;
    line-height: 50px;
    font-weight: 700;
}

.navbar-nav .nav-item {
    margin-left: 16px;
}

.navbar-nav .nav-link {
    font-size: 20px;
    font-weight: 600;
}

.navbar-dark .navbar-nav a.nav-link.active {
    color: var(--accent-color);
}

.nav-avatar {
    margin-left: 10px;
    border-radius: 50%;
    border: 1px solid var(--accent-color);
    object-fit: cover;
}


/* Hero section */

.hero-section {
    padding: 0 !important;
}

.hero-image {
    height: 200px;
    background-image: url('/static/images/hero-image.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    filter: brightness(50%);
}

/* Hero section END */


/* Create / Edit ad form */

#create-ad-btn {
    display: block;
    margin: 30px auto;
    font-weight: 500;
    background-color: #10683f;
    border-color: #0c3220;
    letter-spacing: 1px;
    color: var(--main-color);
}

#create-ad-btn:hover {
    color: #fff;
    background-color: #157347;
    border-color: #146c43;
}

#create-ad-btn:focus {
    box-shadow: none;
}

.create-edit-ad-modal .modal-content {
    background-color: #444;
}

.create-edit-ad-modal #id_description_iframe {
    width: 100%;
}

.create-edit-ad-modal #id_description_iframe .note-editor {
    width: 100%;
}

.create-edit-ad-modal .btn-close {
    opacity: .7;
    background: transparent url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0iI2ZmZiI+PHBhdGggZD0iTS4yOTMuMjkzYTEgMSAwIDAxMS40MTQgMEw4IDYuNTg2IDE0LjI5My4yOTNhMSAxIDAgMTEuNDE0IDEuNDFMOS40MTQgOCAxNS42MzMgMTQuMjkzYTEgMSAwIDAxLTEuNDE0IDEuNDFMOCA5LjQxNEwuMjkzIDE1LjYzM2ExIDEgMCAwMS0xLjQxNC0xLjQxTDYuNTg2IDggLjI5MyAxLjcwN2ExIDEgMCAwMTAtMS40MTR6Ii8+PC9zdmc+") center / 1em auto no-repeat;
}

.create-edit-ad-modal .btn-close:focus {
    box-shadow: none;
}

.create-edit-ad-modal .btn-close:hover {
    opacity: 1;
    transition: .1s ease;
}

.create-edit-ad-modal .modal-title {
    font-size: 24px;
    font-weight: 600;
    color: #ff4b5d;
}

#create-ad.create-edit-ad-modal#create-ad .form-control:focus,
.create-edit-ad-modal .form-select:focus {
    border-color: #E91E63;
    box-shadow: 0 0 0 .25rem #e91e635c;
}

.create-edit-ad-modal #div_id_categories {
    margin-bottom: 40px !important; 
}

.create-edit-ad-modal .btn[type='submit'] {
    display: block;
    margin: 40px auto 0;
    padding: 15px 20px;
    font-weight: 500;
    background-color: #2c9a67;
    border-color: #2c9a67;
    letter-spacing: 3px;
    color: var(--main-color);
}

.create-edit-ad-modal .btn[type='submit']:hover {
    color: #fff;
    background-color: #157347;
    border-color: #146c43;
}

.create-edit-ad-modal #id_categories {
    height: 300px;
}

.create-edit-ad-modal #id_categories option {
    font-size: 13px; 
    height: 32px;  
}

.create-edit-ad-modal #id_image {
    display: block;
    margin-top: 15px;
    font-size: 16px;
    cursor: pointer;
}

/* Create / Edit ad form End */





/* .light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #787878;
} */





/* Search */

.search {
    padding: 40px 0;
    background-color: var(--bg-color-revert);
    border-bottom: 1px solid var(--bg-color-black);
}

#search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

#search-form__input {
    width: 120px;
    height: 45px;
    padding: 0 10px;
    border: none;
    font-weight: 500;
    font-size: 14px;
    color: var(--accent-color);
}

#search-form__input::placeholder {
    color: #a8a8a8;
}

#search-form__input:focus {
    outline: none;
}

#search-form__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;  
    padding: 0 10px; 
    border: none;
    background-color: var(--accent-color);
    color: var(--main-color);
    font-weight: 600;
    font-size: 16px;
    transition: .15s ease;
}

#search-form__btn:hover {
    background-color:  #f52a3e;
}

#search-form__btn i {
    margin-left: 10px;
}

/* Search END */



/* Categories */

.categories {
    padding-bottom: 10px;
}

.categories-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.category {
    width: var(--categories-percents-width);
    margin-bottom: 50px;
    text-align: center;
    cursor: pointer;
}

.category:hover .category-title {
    transition: .1s ease;
    color: var(--accent-color);
}

.category-img {
    width: 90px;
    max-width: 100%;
}

.category-title {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 18px;
}

#subcategories {
    position: relative;
    display: none;
    width: 100%;
    margin: 20px 0 40px;
    padding: 16px;
    border: 1px solid var(--accent-color);
    border-radius: 6px;
    text-align: center;
    order: 99;
}

#subcategories .category-pointer {
    position: absolute;
    bottom: 100%;
    left: 100px;
    display: block;
    width: 0;
    height: 0;
    transform: translateX(-50%);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid var(--accent-color);
}

.subcategory-link {
    display: inline-block;
    padding: 14px 0;
    font-size: 16px;
    font-weight: 500;
}

/* Categories END */


/* Categories ads */

.category-ads__title {
    color: var(--accent-color);
}

.category-ads__amount {
    margin-bottom: 40px;
    padding-left: 16px;
    font-size: 20px;
}

.ads-list__ad {
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin-bottom: 10px;
    background-color: var(--bg-color-black);
    border-radius: 6px;
}

.ads-list__ad:hover .ads-list__category,
.ads-list__ad:hover .ads-list__location-date,
.ads-list__ad:hover .ads-list__price,
.ads-list__ad:hover .ads-list__condition  {
    color: var(--main-color);
}

.ads-list__ad:last-child {
    margin-bottom: 0;
}

.ads-list__ad p{
    margin-bottom: 0;
}

.ads-list__image {
    width: 216px;
    height: 152px;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 4px;
}

.ads-list__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 10px 10px 10px 15px;
}

.ads-list__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ads-list__price {
    top: 10px;
    right: 5px;
    margin: 20px 0 !important;
}

.ads-list__condition {
    bottom: 10px;
    right: 5px;
    padding: 10px;
    background-color: #393939;
    border-radius: 10px;
}

.ads-list__condition span {
    font-size: 12px;
}

.ads-list__location-date {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.ads-list__location {
    margin-right: 12px;
}

.ads-list__ad-categories {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.ads-list__category {
    padding: 5px;
    background-color: #393939;
    border-radius: 10px;
    font-size: 14px;
    margin-right: 4px;
}

/* Categories ads END */


/* Ad */

.ad {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.ad__lest-side {
    flex-basis: 70%;
}

.ad__right-side {
    flex-basis: calc(30% - 20px);
    position: sticky;
    top: 82px;
}

.ad__box {
    margin-bottom: 10px;
    padding: 15px;
    background-color: var(--bg-color-black);
    border-radius: 4px;
}

.ad__box:last-child {
    margin-bottom: 0;
}

.ad .carousel-control-prev-icon {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNiAxNicgZmlsbD0nI2RjMzU0NSc+PHBhdGggZD0nTTQuNjQ2IDEuNjQ2YS41LjUgMCAwIDEgLjcwOCAwbDYgNmEuNS41IDAgMCAxIDAgLjcwOGwtNiA2YS41LjUgMCAwIDEtLjcwOC0uNzA4TDEwLjI5MyA4IDQuNjQ2IDIuMzU0YS41LjUgMCAwIDEgMC0uNzA4eicvPjwvc3ZnPg==');
    transform: rotate(180deg);
}

.carousel-control-next-icon {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNiAxNicgZmlsbD0nI2RjMzU0NSc+PHBhdGggZD0nTTQuNjQ2IDEuNjQ2YS41LjUgMCAwIDEgLjcwOCAwbDYgNmEuNS41IDAgMCAxIDAgLjcwOGwtNiA2YS41LjUgMCAwIDEtLjcwOC0uNzA4TDEwLjI5MyA4IDQuNjQ2IDIuMzU0YS41LjUgMCAwIDEgMC0uNzA4eicvPjwvc3ZnPg==');
}

.ad .carousel-indicators [data-bs-target] {
    background-color: var(--accent-color);
}

.ad-images__image {
    display: block;
    width: 50%;
    margin: 0 auto;
}

.ad__categories {
    display: flex;
    flex-wrap: wrap;
}

.ad__category {
    padding: 5px;
    background-color: #393939;
    border-radius: 10px;
    font-size: 14px;
    margin-right: 4px;
}

.ad__description-title {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.sticky-container {
    position: sticky;
    top: 92px;
    height: calc(100vh - 82px);
    overflow-y: auto;
}

.ad__title {
    margin-top: 6px;
    margin-bottom: 30px;
    font-weight: 600;
    letter-spacing: 2.5px;
    text-align: center;
    color: var(--accent-color);
}

.ad-price-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ad__price {
    font-weight: 500;
}

.ad__condition {
    padding: 10px;
    background-color: #393939;
    border-radius: 10px;
}

.ad__condition span {
    font-size: 12px;
}

.ad__creatied-date {
    margin-top: 30px; 
    margin-bottom: 5px;
}

.ad__updated-date {
    margin-top: 10px;
} 
 
.ad__creatied-date,
.ad__updated-date {
    font-size: 13px;
}

.ad__location i {
    margin-right: 10px;
    color: var(--accent-color);
} 

.ad-user__avatar {
    display: block;
    margin: 10px auto 40px;
    border-radius: 50%;
    border: 1px solid var(--accent-color);
}

.ad-user__name {
    margin-bottom: 20px;
    font-weight: 500;
}

.ad-user__email span,
.ad-user__phone span {
    text-decoration: underline;
}

.ad-user__last-login {
    position: relative;
    padding-left: 10px;
}

.ad-user__last-login::before {
    position: absolute;
    left: 0;
    top: 60%;
    transform: translateY(-50%);
    display: block;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: aquamarine;
}

.ad-user__ads-btn {
    display: block;
    margin: 40px auto 10px;
    font-weight: 600;
}

.ad-user__ads-btn:hover {
    color: var(--accent-color);
}

.ad-control-btns {
    display: flex;
    justify-content: space-between;
}

.ad-control-btns .btn {
    padding: 10px 18px;
    font-weight: 500;
    color: var(--main-color);
}

.ad-control-btns .btn:focus {
    box-shadow: none;
}

#edit-ad {
    background-color: #8b6c0f;
    border-color: #8b6c0f;
}

#edit-ad:hover {
    background-color: #a38018;
    border-color: #a38018;
}

#delete-ad {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

#delete-ad:hover {
    background-color: #ec4455;
    border-color: #ec4455;
}

#delete-ad-form,
#edit-ad-form {
    margin-bottom: 0;
}

#delete-ad-modal .modal-content {
    background-color: #444;
}

#delete-ad-modal .btn-close {
    opacity: .7;
    background: transparent url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0iI2ZmZiI+PHBhdGggZD0iTS4yOTMuMjkzYTEgMSAwIDAxMS40MTQgMEw4IDYuNTg2IDE0LjI5My4yOTNhMSAxIDAgMTEuNDE0IDEuNDFMOS40MTQgOCAxNS42MzMgMTQuMjkzYTEgMSAwIDAxLTEuNDE0IDEuNDFMOCA5LjQxNEwuMjkzIDE1LjYzM2ExIDEgMCAwMS0xLjQxNC0xLjQxTDYuNTg2IDggLjI5MyAxLjcwN2ExIDEgMCAwMTAtMS40MTR6Ii8+PC9zdmc+") center / 1em auto no-repeat;
}

#delete-ad-modal .btn-close:focus {
    box-shadow: none;
}

#delete-ad-modal .btn-close:hover {
    opacity: 1;
    transition: .1s ease;
}

/* Ad END */


/* My ads */

.my-ads__amount, 
.user-ads__amount {
    margin-bottom: 40px;
    padding-left: 16px;
    font-size: 20px;
}

/* My ads END */


/* User ads */

.user__avatar {
    display: block;
    width: 50px !important;
    padding: 0 !important;
    margin: 0 auto 10px;
    border-radius: 50%;
    border: 1px solid var(--accent-color);
}

/* User ads END */


/* pagination */

.pagination-navigation {
    margin-top: 30px;
}

.pagination li {
    margin: 0 15px;
}

.pagination .page-link {
    border-radius: 3px;
    border-color: transparent;
    font-weight: 600;
    color: var(--accent-color);
}

.pagination .page-link:hover {
    background-color: var(--accent-color);
    color: var(--main-color);
}

.pagination .page-link:focus {
    box-shadow: none;
}

/* pagination END */


/* search results */

.search-results__count span {
    color: var(--accent-color);
    font-weight: 700;
}

/* search results END */


/* edit profile */

.profile-section-wrapper {
    display: flex;
    flex-direction: column;
}

.form-text {
    color: #e4e4e4;
}

.profile-avatar {
    object-fit: cover;
}

#edit-profile__btn {
    font-weight: 500;
}

#profile-edit-btn {
    margin-top: 30px;
    align-self: center;
    padding: 20px;
    background-color: #8b6c0f;
    border-color: #8b6c0f;
    border-radius: 4px;
    font-weight: 500;
}

#profile-edit-btn:hover {
    background-color: #a38018;
    color: var(--main-color);
}

/* edit profile END */


/* footer */

.footer__social-icons {
    font-size: 30px;
}

.footer__social-icons a {
    margin: 0 20px;
}

/* footer */



.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #10683f;
    color: #fff;
    font-weight: 500;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #14722f;
}

.link {
    color: #30cc83;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: var(--main-color);
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}


.signup input[type='file'] {
    max-width: 100%;
}

.footer {
    background-color: var(--bg-color-black);
    padding: 25px 0 20px;
    font-size: 14px;
}







@media (min-width: 350px) {
    .create-edit-ad-modal #id_categories option {
        font-size: 16px;
        height: 40px;  
    }
}
/* sm */
@media (min-width: 576px) {
    .navbar-nav {
        line-height: 60px;
    }
    .search {
        padding: 50px 0;
    }
    #search-form__input {
        width: 300px;
        height: 50px;
        padding: 0 10px;
        font-size: 18px;
    }
    #search-form__btn {
        height: 50px;
        padding: 0 20px;
        font-size: 22px;
    }
    .categories {
        padding-bottom: 30px;
    }

    #message-toast {
        right: 50px;
        max-width: none;
    }

    .create-edit-ad-modal #id_image {
        font-size: 20px;
    }
}
/* md */
@media (min-width: 768px) {
    .search {
        padding: 60px 0;
    }
    #search-form__input {
        width: 360px;
        height: 60px;
        font-size: 20px;
    }
    #search-form__btn {
        height: 60px;
        font-size: 26px;
    }

    .ads-list__ad {
        flex-direction: row;
        height: 170px;
    }
    .ads-list__image {
        margin: 0;
    }
    .ads-list__wrapper {
        position: relative;
        width: calc(100% - 216px);
        padding: 10px 190px 10px 15px;
    }
    .ads-list__ad-categories {
        margin: 0;
    }
    .ads-list__location-date {
        flex-direction: row;
    }
    .ads-list__price {
        position: absolute;
        margin: 0 !important;
    }
    .ads-list__condition {
        position: absolute;
    }
}
/* lg */
@media (min-width: 992px) {
    .navbar-nav {
        line-height: 66px;
    }
    #create-ad-btn {
        display: inline-block;
        margin: 0 0 0 25px;
    }
    .hero-image {
        height: 300px;
    }
}
/* xl */
@media (min-width: 1200px) {

}
/* xxl */
@media (min-width: 1400px) {
    .hero-image {
        background-position: center -325px;
    }
}