{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- User: {{ ad.user }} <br/>
Categories: {{ ad.categories }} <br/>
Title: {{ ad.title }} <br/>
Descr: {{ ad.description }} <br/>
Price: {{ ad.price }} <br/>
Created at: {{ ad.created_at }} <br/>
Updated at: {{ ad.updated_at }} <br/>
Ad's images: 
    {% if ad.images.all %}
        <div class="images">
            {% for image in ad.images.all %}
                <img src="{{ image.image.url }}" alt="Image for {{ ad.title }}" width="200" height="200">
            {% endfor %}
        </div>
    {% else %}
        <p>No images available.</p>
    {% endif %} -->


<div class="ad">
    <div class="ad__lest-side">
        <div class="ad-images">
            {% if ad.images.all %}
                {% for image in ad.images.all %}
                <img class="ad-images__image" src="{{ image.image.url }}" alt="{{ ad.title }}">
                {% endfor %}
            {% else %}
                <img 
                    class="ad-images__image" 
                    src="{% static 'images/photo-placeholder.svg' %}" 
                    alt="{{ ad.title }}"
                >
            {% endif %}
        </div>
        <div class="ad__box">
            <ul class="ad__categories">
                {% for category in ad.categories.all %}
                <li class="ad__category">
                    {{ category.name }}
                </li>
                {% endfor %}
            </ul>   
            <div class="ad__description">
                <h3 class="ad__description-title">Description:</h3>
                <p class="ad__description-text">
                    {{ ad.description }}
                </p>
            </div>
        </div>
    </div>   
    <div class="ad__right-side">
        <div class="ad__box">
            <div class="ad__title">
                {{ ad.title }}
            </div>
            <div class="ad__price">
                {{ ad.price }}
            </div>
        </div>
        
        <div class="ad__box">
            <div class="ad__user">
            
            </div>   
        </div>
        
        <div class="ad__box">
            <div class="ad__location">
            
            </div>   
        </div>
    </div> 
</div>
{% endblock content %}