{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="user-ads">
    <div class="container">
        <div class="row">
            <h2>{{ info_user.username }}'s ads:</h2>

            {% if userAds %}
                <img 
                    class="user__avatar" 
                    src="{% if info_user.avatar %} {{ info_user.avatar.url }} {% else %} {% static 'images/avatar-placeholder.svg' %} {% endif %}" 
                    alt="Avatar" 
                    width="50" 
                    height="50"
                >

                <p class="user-ads__amount">{{ info_user.username }} has {{ userAds_count }} ad{% if userAds_count > 1 %}s{% endif %}:</p>
                
                <div class="user-ads__list ads-list">
                    {% for ad in page_obj %}
                        <a class='ads-list__ad' href='/ads/{{ ad.slug }}'>
                            <img 
                                class="ads-list__image" 
                                src="{% if ad.images.all %}{{ ad.images.all.0.image.url }}{% else %}{% static 'images/photo-placeholder.svg' %}{% endif %}" 
                                alt="{{ ad.title }}"
                            >
                            <div class="ads-list__wrapper">
                                <p class="ads-list__title">{{ ad.title }}</p>
                                <p class="ads-list__price">{{ ad.price }}€</p>
                                <span class="ads-list__condition">{{ ad.get_condition_display }}</span>
                                <ul class="ads-list__ad-categories">
                                    {% for category in ad.categories.all %}
                                    <li class="ads-list__category">
                                        {{ category.name }}
                                    </li>
                                    {% endfor %}
                                </ul>
                                <div class="ads-list__location-date">
                                    <p class="ads-list__location"><i class="fa-solid fa-location-dot"></i> {{ ad.location }}</p>
                                    <p class="ads-list__created">
                                        <i class="fa-solid fa-upload"></i> 
                                        {{ ad.created_at|date:"F j, Y" }} at {{ ad.created_at|date:"H:i" }}
                                    </p>
                                </div>
                            </div> 
                        </a>
                    {% endfor %}
                </div> 
            {% else %}
                <p class="category-ads__amount">{{ info_user.username }} has not created any ads yet...</p>
            {% endif %}

            {% if is_paginated %}
            <nav class="pagination-navigation" aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a></li>
                    {% endif %}
                    {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>
    </div>
</section>
{% endblock content %}