{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="search">
    <div class="container">
        <div class="row">
            <h1>search</h1>
        </div>
    </div>
</section>

<section class="category-ads">
    <div class="container">
        <div class="row">
            <h2 class="category-ads__title">Ads in category: {{ category.name }}</h2>

            {% if ads %}
                <p>Found {{ ads_count }} ad(s) in this category</p>
                
                <div class="category-ads__container">
                    {% for ad in ads %}
                        <div class='category-ads__ad'>
                            <img class="category-ads__image" src="{{ ad.images.all.0.image.url }}" alt="{{ ad.title }}">
    
                            <div class="category-ads__wrapper">
                                <h2 class="category-ads__title">{{ ad.title }}</h2>
                                <p class="category-ads__description">{{ ad.description }}</p>
                                <p class="category-ads__price">price: {{ ad.price }}€</p>
                                <p class="category-ads__created">created at: {{ ad.created_at }}</p>
                            </div> 
                        </div>
                    {% endfor %}
                </div> 
            {% else %}
                <p>no ads found in this category...</p>
            {% endif %}
        </div>
    </div>
</section>
{% endblock content %}